{% extends 'base.html' %}

{% block links %}
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.0.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.0.0/firebaseui.css" />
    <script src="https://www.gstatic.com/firebasejs/5.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script src="{{ url_for('static', filename='config.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <style>
      body {
        margin: 0;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
      // FirebaseUI config.
      var uiConfig = {
        // Url to redirect to after a successful sign-in.
        'signInSuccessUrl': '/',
        'callbacks': {
          'signInSuccess': function(user, credential, redirectUrl) {
            console.log(user);
            var obj = {
              "uid": user.uid,
              "name": user.displayName,
              "email": user.email,
              "phone": user.phoneNumber
            }
            axios.post('/auth/login', obj)
            .then((res) => {
              console.log(res);
              // rendering the template for index as response
              window.location = '/';
            })
            .catch((err) => {
              console.log("Error: ", err)
            });
          }
        },
        'signInOptions': [
          firebase.auth.EmailAuthProvider.PROVIDER_ID,
          {
            provider: firebase.auth.PhoneAuthProvider.PROVIDER_ID,
            recaptchaParameters: {
              size: 'invisible'
            }
          }
        ]
      };

      // Initialize the FirebaseUI Widget using Firebase.
      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      // The start method will wait until the DOM is loaded to include the FirebaseUI sign-in widget
      // within the element corresponding to the selector specified.
      ui.start('#firebaseui-auth-container', uiConfig);
    </script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div id="firebaseui-auth-container"></div>
{% endblock %}