<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
{% block links %}{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <h1>Chat App</h1>
  <ul>
    {% if g.user %}
      {% if g.user['displayname'] == 'user' %}
        <li><span>{{ g.user['username'] }}</span>
      {% else %}
        <li><span>{{ g.user['displayname'] }}</span>
      {% endif %}
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.login') }}">SignUp / Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>